body, h1 { margin: 0;}

html, body, .main-container {
    height: 100%;
}

#main-header {
    background-color: #FECCCB;
    height: 70pt;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.inner-container {
    flex: 2;

    display: flex;
    align-items: stretch;
}

.contents {
    background-color: #FFFFCB;
    order: 2;
}

.LSide {
    background-color: #FECCFF;
    order: 1;
}

.RSide {
    background-color: #CCFFFF;
    width: 100pt;
    order: 3;
}

.Footer {
    overflow: auto;
    background-color: #CCCCFE;
    
}

.Footer #e2-link {
    font-weight: bold;
    padding: 5pt;
}